<h2 class="o_heading o_text-dark o_mb-xxs"
    style="font-family: Helvetica, Arial, sans-serif;font-weight: bold;margin-top: 0px;margin-bottom: 4px;color: #242b3d;font-size: 24px;line-height: 39px;">
    عزيزي المستفيد , نفييدكم بانه تم الرد على الشكوى المرسلة من قبلكم
</h2>
<p style="margin-top: 0px;margin-bottom: 0px; font-family: Helvetica, Arial,
                                            sans-serif;font-weight: normal;font-size: 18px;line-height: 28px;">
    {0}
</p>
<h2 class="o_heading o_text-dark o_mb-xxs"
    style="font-family: Helvetica, Arial, sans-serif;font-weight: bold;margin-top: 0px;margin-bottom: 4px;color: #242b3d;font-size: 24px;line-height: 39px;">
    Dear Digital Gate customer, we inform you that the complaint sent by you has
    been answered
</h2>